* {
    margin: 0;
    padding: 0;
}

:root {
        /* --h1-color: green; */
        /* Colors */
        --white-color: #F1F7EE;
        --light-color: #767B91;
        --primary-color: #CA895F;
        --secondary-color: #0D1821;
        --tertiary-color: #47535C;
        --dark-color: #0D1821;
    
        /* buttons */
        --btn-p-tb: 12px;
        --btn-p-lr: 25px;
        --btn-border-size: 2px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
        background-color: var(--dark-color);
        color: var(--white-color);
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: var(--white-color);
        text-align: center;
        margin: 10px;

    }
    

    button:hover {
        /* background-color: var(--dark-color);
        -webkit-text-fill-color: var(--white-color);
        transition: 0.7s; */
        cursor: pointer;
    }  

    .answersClass:focus {
        background-color: var(--primary-color);
        -webkit-text-fill-color: var(--dark-color);
        transition: 0.7s;
    }

    /* button {
        font-family: 'Poppins', sans-serif;
        font-weight: large;
        font-size: large;
        width: 100%;
        background-color: var(--dark-color);
        color: var(--white-color);
        align-self: center;
        margin: 5px;
        padding: 10px;
        border-width: var(--btn-border-size);
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 5px;
    } */
    
    /* Classes Below This Line */

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }

    .total-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .quote-container {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 200px;
        margin-left: 10px;     
        margin-right: 10px;   
        /* border-width: 5px;
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 50px; */
    }

    .answer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px;
        padding: 20px;
    }

    /* .answer-button {
        display: flex;
        margin: 10px;
        border-width: 5px;
        border-color: var(--primary-color);
        border-style: solid;
        flex-direction: row;
        justify-content: center;
    }

    .answer-button-true {
        display: flex;
        margin: 10px;
        border-width: 5px;
        border-color: var(--white-color);
        border-style: solid;
    } */

    .submitAnswerBtn {
        font-family: 'Poppins', sans-serif;
        font-weight: large;
        font-size: large;
        width: 400px;
        background-color: var(--dark-color);
        color: var(--white-color);
        align-self: center;
        border-color: var(--white-color);
        border-width: var(--btn-border-size);
        border-style: solid;
        border-radius: 5px;
    }

    .answersClass {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-weight: large;
        font-size: large;
        background-color: var(--dark-color);
        color: var(--white-color);
        align-self: center;
        margin: 5px;
        padding: 10px;
        border-width: var(--btn-border-size);
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
    }

    .scoreContainer {
        font-family: 'Poppins', sans-serif;
        font-weight: large;
        font-size: large;
        width: 400px;
        background-color: var(--dark-color);
        color: var(--white-color);
        align-self: center;
        border-color: var(--white-color);
        border-width: var(--btn-border-size);
        border-style: solid;
        border-radius: 5px;
    }

    @media (max-width: 1920px) {
        .answersClass, .scoreContainer {
          width: 100%; /* Adjust the width as needed for smaller screens */
        }
      }

    @media (max-width: 768px) {
        .answersClass, .scoreContainer {
          width: 80%; /* Adjust the width as needed for smaller screens */
        }
      }
      
      @media (max-width: 480px) {
        .answersClass, .scoreContainer {
          width: 70%; /* Adjust the width as needed for even smaller screens */
        }
    }
